<template>
    <div>
        <!-- optional indicators -->
        <i class="fa fa-spinner fa-spin" v-if="loading"></i>
        <template v-else>
            <i class="fa fa-search" v-show="isEmpty"></i>
            <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
        </template>

        <!-- the input field -->
        <input type="text"
               placeholder="..."
               autocomplete="off"
               v-model="query"
               @keydown.down="down"
               @keydown.up="up"
               @keydown.enter="hit"
               @keydown.esc="reset"
               @blur="reset"
               @input="update"/>

        <!-- the list -->
        <ul>
            <li v-for="item in items" :class="activeClass($index)" @mousedown="hit" @mousemove="setActive($index)">
                <span v-text="item.name"></span>
            </li>
        </ul>
    </div>
</template>
<script>
    import Autocomplete from './Autocomplete.vue'

    export default{
        extends: Autocomplete,

        ready(){
//            alert("yalaaa")
        },
        data(){
            cities : [
                'Bangalore','Chennai','Cochin','Delhi','Kolkata','Mumbai'
            ],

                    value: ''
        },
        methods: {

        }
    }
</script>
