
#map-canvas{
  width: auto;
  height: 350px;
}

#info {
  color: #ff3a45;
}
.lngLat{
  color: #fff;
}

.lngLat > .one{
  padding-left: 210px;
}

.lngLat > .two {
  padding-left: 34px;
}

#info, .lngLat {
  font-family: arial, sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.carrousel .item img{
  min-width: 300px;
  max-height: 300px;
}

.carrousel-index .item{
  min-width: 300px;
  max-height: 300px;
}

.carrousel-index .owl-item{
  min-width: 300px;
  max-height: 300px;
}

.carrousel-index .item img{
  width:100%;
}

.owl-carousel div h2, .owl-carousel div .textoverlay{
  position:absolute;
  color:#FFF;
  font-size:12px;
  display:block;
  z-index:10;
}

.owl-carousel div .textoverlay{
  background-color: rgba(67%, 66%, 64%, 0.8);
  padding: 5px;
  bottom: 0;
  min-width: 300px;
}

.textoverlay > .btn{
  bottom:0;
  right: 0;
  float:right;
}

.clearfix{
  clear:both;
}

#map {
  height: 100%;
}
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
