

.owl-controls .owl-buttons div {
  padding: 5px 9px;
  opacity: 1;
  background: #F39C12;
}



  .homecarrousel > .owl-buttons > i {
    margin-top: 2px;
  }

  //To move navigation buttons outside use these settings:

.homecarrousel > .owl-controls > .owl-buttons {

    > .owl-prev {
      left: 5px;
      bottom: -10px;
      position: absolute;
      z-index: 7;
      opacity: 1;
      background: #F39C12;
    }

     > .owl-next {
        right: 5px;
        bottom: -10px;
        position: absolute;
        z-index: 7;
        opacity: 1;
        background: #F39C12;
      }
}

.carrousel > .owl-controls > .owl-buttons {

    i{
      margin-top: 2px;
    }
    > .owl-prev{
      left: 0px;
      top:75px;
      margin: 0;
      position: absolute;
      border-radius: 0px 20px 20px 0px;
      z-index: 7;
      opacity: 1;
      background: #F39C12;
    }


    > .owl-next{
      right: 0px;
      top:75px;
      margin: 0;
      border-radius: 20px 0px 0px 20px;
      position: absolute;
      z-index: 7;
      opacity: 1;
      background: #F39C12;

    }

}
