#site-wrapper
  position: relative
  overflow: hidden
  width: 100%


#site-canvas
  width: 100%
  height: 100%
  position: relative
  -webkit-transform: translateX(0)
  transform: translateX(0)
  -webkit-transition: .3s ease all
  transition: .3s ease all


  /*Temp: Simulates a tall page. */
  min-height: 1000px

/*padding: 5% 0; !* Temp: Just spacing. *!*/


#site-menu
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -300px
  background: #EEEEEE
  padding: 15px


#site-wrapper.show-nav #site-canvas
  -webkit-transform: translateX(300px)
  transform: translateX(300px)


#site-menu1
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav1 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)


#site-menu2
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav2 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu3
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav3 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu4
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px


#site-wrapper.show-nav4 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)


#site-menu5
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px


#site-wrapper.show-nav5 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)


#site-menu6
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav6 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu7
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav7 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu8
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav8 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu9
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav9 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

#site-menu10
  width: 300px
  height: 100%
  position: absolute
  top: 0
  left: -600px
  background: #F7DB70
  padding: 15px

#site-wrapper.show-nav10 #site-canvas
  -webkit-transform: translateX(600px)
  transform: translateX(600px)

.visible
  z-index: 9
  background: #F8F5F2


.navbar-toggle.navbar-left
  float: left
  margin-left: 10px
