#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transition: .3s ease all;
  /*Temp: Simulates a tall page. */
  min-height: 1000px; }

/*padding: 5% 0; !* Temp: Just spacing. *!*/
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #EEEEEE;
  padding: 15px; }

#site-wrapper.show-nav #site-canvas {
  transform: translateX(300px); }

#site-menu1 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav1 #site-canvas {
  transform: translateX(600px); }

#site-menu2 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav2 #site-canvas {
  transform: translateX(600px); }

#site-menu3 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav3 #site-canvas {
  transform: translateX(600px); }

#site-menu4 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav4 #site-canvas {
  transform: translateX(600px); }

#site-menu5 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav5 #site-canvas {
  transform: translateX(600px); }

#site-menu6 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav6 #site-canvas {
  transform: translateX(600px); }

#site-menu7 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav7 #site-canvas {
  transform: translateX(600px); }

#site-menu8 {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -600px;
  background: #F7DB70;
  padding: 15px; }

#site-wrapper.show-nav8 #site-canvas {
  transform: translateX(600px); }

.visible {
  z-index: 9;
  background: #F8F5F2; }

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px; }

.homecarrousel .item {
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center; }

.homecarrousel .owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.homecarrousel .owl-theme .owl-buttons i {
  margin-top: 2px; }

.homecarrousel .owl-theme .owl-controls .owl-buttons div {
  position: absolute; }

.homecarrousel .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 575px; }

.homecarrousel .owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px; }

#map-canvas {
  width: auto;
  height: 350px; }

#info {
  color: #ff3a45; }

.lngLat {
  color: #fff; }

.lngLat > .one {
  padding-left: 210px; }

.lngLat > .two {
  padding-left: 34px; }

#info, .lngLat {
  font-family: arial, sans-serif;
  font-size: 18px;
  padding-top: 10px; }

.carrousel .item img {
  min-width: 300px;
  max-height: 300px; }

.carrousel-index .item {
  min-width: 300px;
  max-height: 300px; }

.carrousel-index .owl-item {
  min-width: 300px;
  max-height: 300px; }

.carrousel-index .item img {
  width: 100%; }

.owl-carousel div h2, .owl-carousel div .textoverlay {
  position: absolute;
  color: #FFF;
  font-size: 12px;
  display: block;
  z-index: 10; }

.owl-carousel div .textoverlay {
  background-color: rgba(171, 168, 163, 0.8);
  padding: 5px;
  bottom: 0;
  min-width: 300px; }

.textoverlay > .btn {
  bottom: 0;
  right: 0;
  float: right; }

.clearfix {
  clear: both; }

#map {
  height: 100%; }

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px; }

.controls:focus {
  border-color: #4d90fe; }

.homecarrousel .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.homecarrousel .owl-buttons i {
  margin-top: 2px; }

.homecarrousel .owl-theme .owl-controls .owl-buttons div {
  position: absolute; }

.homecarrousel .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px; }

.homecarrousel .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px; }

/*# sourceMappingURL=temp.css.map */
