 //@import "bootstrap-sass";

 @media only screen and (max-width: 768px) {
   .container{
     padding: 0px;
   }
 }


@import "Components/Nav";
@import "Components/Homeblock";

@import "Components/App";