.homecarrousel .item {
    display: block;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.homecarrousel .owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.homecarrousel .owl-theme .owl-buttons i{
    margin-top: 2px;
}

.homecarrousel .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.homecarrousel .owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -45px;
    top: 575px;
}

.homecarrousel .owl-theme .owl-controls .owl-buttons .owl-next{
    right: -45px;
    top: 55px;
}
